<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Pupscan</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css">
</head>
<body>
<div class="container text-center">
    <div class="page-header">
        <h1>Configure your Pupscan</h1>
    </div>
    <p class="lead">Scan QR code with your pupscan</p>
    <br>
    <p>{{{ qrcode }}}</p>
    <br>
    <br>
    <br>
    <a href="/" class="btn btn-primary btn-lg">Configure a new service</a>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://use.fontawesome.com/365f8dafa1.js"></script>
</body>
</html>